<app-side-bar></app-side-bar>
<!-- Content page-->
<section class="full-box dashboard-contentPage">
    <app-top-bar></app-top-bar>
    <div class="text-center  headerModule">
        <h2>Cursos asignados a docente</h2>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        <button mat-stroked-button color="primary" class="mtbutton" (click)="newAssign()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 tbl">
            <ng-container matColumnDef="identificador">
                <th mat-header-cell *matHeaderCellDef="">ID</th>
                <td mat-cell *matCellDef="let dtcd">{{dtcd.iddtcurso}}</td>
            </ng-container>
            <ng-container matColumnDef="curso">
                <th mat-header-cell *matHeaderCellDef>CURSO</th>
                <td mat-cell *matCellDef="let dtcd">{{dtcd.idcurso.descripcion}}</td>
            </ng-container>
            <ng-container matColumnDef="profesor">
                <th mat-header-cell *matHeaderCellDef>DOCENTE</th>
                <td mat-cell *matCellDef="let dtcd">{{dtcd.idprofesor.nombre +' '+ dtcd.idprofesor.apellido}}</td>
            </ng-container>
            <ng-container matColumnDef="inicio">
                <th mat-header-cell *matHeaderCellDef>FECHA INICIO</th>
                <td mat-cell *matCellDef="let dtcd">{{dtcd.fechainicio}}</td>
            </ng-container>
            <ng-container matColumnDef="final">
                <th mat-header-cell *matHeaderCellDef>FECHA FIN</th>
                <td mat-cell *matCellDef="let dtcd">{{dtcd.fechafinal}}</td>
            </ng-container>
            <!--
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                <td mat-cell *matCellDef="let dtcd">
                    <div *ngIf="dtcd.profesor.estado==1; else desh"><span
                            class="badge badge-success">Activo</span>
                    </div>
                    <ng-template #desh>Inactivo</ng-template>
                </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef>ROL</th>
                <td mat-cell *matCellDef="let dtcdesor">
                    {{(profesor.nombreRol.charAt(0).toUpperCase()+profesor.nombreRol.slice(1))}}
                </td>
            </ng-container>
            -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns" (click)="clickRow(row)" class="rowTable"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons aria-label="Selecciona una pagina">

        </mat-paginator>

    </div>
</section>