<form autocomplete="off" class="full-box logInForm" >
    <p class="text-center text-muted" id="logintitle">SANTA MARGARITA'S SYSTEM</p>
    <!--
    <p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
    -->
    <hr class="hrlogin">
    <p class="text-center text-muted text-uppercase my-1"><i>Inicia sesión con tu cuenta</i></p>
    <div class="form-group label-floating">
      <label class="control-label" for="UserEmail">E-mail</label>
      <input class="form-control" id="UserEmail" type="email" name="correo"  [(ngModel)]="correo">
      <p class="help-block">Escribe tu E-mail</p>
    </div>
    <div class="form-group label-floating">
      <label class="control-label" for="UserPass">Contraseña</label>
      <input class="form-control" id="UserPass" type="password" name ="clave" [(ngModel)]="clave">
      <p class="help-block">Escribe tu contraseña</p>
    </div>
    <div class="form-group text-center">
        <input type="button" (click)="login()" value="Iniciar Sesión" class="btn btn-raised btn-danger">
    </div>
    <div class="form-group-a text-center">
        <a href="recoveryUserAccount">¿Se te olvidó la contraseña?</a>
    </div>
</form>
