body{
    background-image: url(../../../assets/img/anim2.jpg);
    /*background: 50% 50% no-repeat;*/
	background-size: cover;
}
#UserEmail , #UserPass{
    color: #FFF;
}

#logintitle{
    font-size: 25px;
    line-height: 30px;
}

.hrlogin{
    margin: 10px 25px;
}
.form-group.label-floating{
    margin-top: 40px !important;
}
.form-group-a{
    margin-top: 10px !important;
}

p > i{
    font-size: 11px;
    color: rgb(223, 223, 223);
}