<app-side-bar></app-side-bar>
<!-- Content page-->
<section class="full-box dashboard-contentPage">
    <app-top-bar></app-top-bar>
    <div class="text-center  headerModule">
        <h2>{{curso.descripcion}}&nbsp;-&nbsp;{{seccion.idgrado.descripcion+ " "+seccion.descripcion}}</h2>
    </div>

    <div class="content-main">

        <div>
            <mat-select [(value)]="mainSelect" appareance="fill" #mainselect>
                <mat-option value="calificar">Calificar alumnos</mat-option>
            </mat-select>
        </div>
        <div>
            <button mat-raised-button color="accent" (click)="openModalAddCalificacion()">Añadir calificación</button>
        </div>
        <div *ngIf="mainSelect == 'calificar'">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                  <th mat-header-cell *matHeaderCellDef>
                    {{column.header}}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row[column.header]}}
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
        </div>
    </div>
    <!--
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Listado de alumnos
                </mat-panel-title>
                <mat-panel-description>
                    Lista de los alumnos del curso. Si selecciona uno, podrá calificarlo.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
            </div>
            <div class="div-table">
                
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 tbl">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                        <td mat-cell *matCellDef="let alu">{{alu.nombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef>APELLIDO</th>
                        <td mat-cell *matCellDef="let alu">{{alu.apellido}}</td>
                    </ng-container>
                    <ng-container matColumnDef="dni">
                        <th mat-header-cell *matHeaderCellDef>DNI</th>
                        <td mat-cell *matCellDef="let alu">{{alu.dni}}</td>
                    </ng-container>
                    <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef>TELÉFONO</th>
                        <td mat-cell *matCellDef="let alu">{{alu.telefono}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns:displayedColumns" (click)="clickRowAlumno(row)" class="rowTable"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons aria-label="Selecciona una pagina">
        
                </mat-paginator>
        
            </div>
        </mat-expansion-panel>
    </mat-accordion>
-->
</section>