.form-control{
    width: 55vh;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 16px;
    color: white;
}

body{
  overflow: scroll;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center
}
