.tblAlu{
    width: 100%;
}
.headerUser{
    padding: 25px 10px;
}
.headerUser > h2{
    font-size:40px;
}

.rowUser:hover{
    cursor: pointer;
}

.mtbutton{
    margin-left: 90%;
}

table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }