<app-side-bar></app-side-bar>
<!-- Content page-->
<section class="full-box dashboard-contentPage">
  <app-top-bar></app-top-bar>
  <div class="text-center headerUser">
    <h2>Lista de Alumnos</h2>
  </div>

  <div>
    <button
      mat-stroked-button
      color="primary"
      class="mtbutton"
      [routerLink]="['/alumno/form']"
    >
      <mat-icon>add</mat-icon>
    </button>
    <!--
    <div>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
      </mat-form-field>
    </div>
-->
    <div>
      <table class="mat-elevation-z2 tblAlu">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">CODIGO</th>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">APELLIDO</th>
            <th class="text-center">DNI</th>
            <th class="text-center">TELEFONO</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">ACCIONES</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let alumno of alumnocl">
            <td class="text-center" scope="row">
              {{ alumno.idalumno }}
            </td>
            <td class="text-center">{{ alumno.nombre }}</td>
            <td class="text-center">{{ alumno.apellido }}</td>
            <td class="text-center">{{ alumno.dni }}</td>
            <td class="text-center">{{ alumno.telefono }}</td>
            <td class="text-center">
              <div *ngIf="alumno.estado==1; else desh"><span class="badge badge-success">Habilitado</span></div>
						  <ng-template #desh>Deshabilitado</ng-template>
            </td>
            <td class="text-center">
              <button
                style="margin: 10px"
                mat-stroked-button
                color="primary"
                class="mtbutton"
                [routerLink]="['/alumno/form', alumno.idalumno]"
              >
                <i class="zmdi zmdi-edit"></i>
              </button>
              <button
                style="margin: 10px"
                mat-stroked-button
                color="warn"
                class="mtbutton"
                (click)="delete(alumno)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
        aria-label="Selecciona una pagina"
      >
      </mat-paginator>
    </div>
  </div>
</section>
