/*.form-control{
    width: 55vh;
    background: #24303c;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 16px;
    color: white;
}*/

body{
  overflow: scroll;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
